{% extends 'blog/base.html' %}
{% block content %}

<ul>
    
    <li>
        {{user.username}}
    </li>
    <li>
        {{profile.user}}
    </li>
    <li>
        {{profile.id_number}}
    </li>
    <li>
        {{profile.bio}}
    </li>
    <li>
        {{profile.phone}}
    </li>
    <li>
        {{profile.created_at}}
    </li>
    {% if profile.is_writor == writer %}
    <li>
        {{profile.is_writor}}
    </li>
    {% endif %}
    

</ul>

<p><a href="{% url 'users:edite_profile' user.id %}">edite profile</a></p>

{% endblock content %}